@mixin container-padding {
  padding: 12px;
}

html {
  font-family: "Chango", cursive;
  font-size: 22px;
}

body {
  font-size: 1rem;
  margin: 0;
}

.limited-container {
  max-width: 1200px;
}

#calculator-body {
  text-align: center;
  @include container-padding;

  // #weather-points-total {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   margin: 20px 0;
  //   .points {
  //     padding: 0 10px;
  //   }
  // }

  #weather-buttons-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    .weather-button {
      margin: 10px;
      img {
        cursor: pointer;
        border-radius: 8px;
        width: 50px;
        -webkit-box-shadow: 0px 0px 3px 3px rgba(68, 63, 27, 0.79);
        box-shadow: 0px 0px 3px 3px rgba(68, 63, 27, 0.79);
        &:hover,
        &:focus {
          -webkit-box-shadow: 0px 0px 8px 3px rgba(127, 118, 50, 0.72);
          box-shadow: 0px 0px 8px 3px rgba(127, 118, 50, 0.72);
        }
        @media only screen and (min-width: 900px) {
          width: 100px;
        }
      }
    }
    @media only screen and (min-width: 678px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

#add-crops {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 75vw;
  width: 600px;
  text-align: center;
  background-color: gray;
  z-index: 30;
  border-radius: 0px 6px 6px 0px;
  @include container-padding;
  &.hidden {
    transform: translateX(-100%);
  }
  label {
    margin-top: 10px;
  }
  #add-crops-reveal {
    position: absolute;
    top: 0;
    right: -34px;
    width: 40px;
    min-width: max-content;
    cursor: pointer;
    background-color: gray;
    border-radius: 0px 6px 6px 0px;
  }
  .season-radio-buttons {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 678px) {
      flex-direction: row;
      justify-content: center;
      label {
        padding: 10px;
      }
    }
  }
  .select-crop-box {
    margin: 20px 0px;
  }
}

#current-crops {
  max-width: 1200px;
  display: grid;
  @include container-padding;
  @media only screen and (min-width: 678px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @media only screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .growing-crop {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 20px; // match padding on .growing-crop
      bottom: 0;
      width: 50%; /* or 100px */
      border-bottom: 2px solid darkblue;
    }
    span {
      padding: 6px 20px;
    }
    .growing-crop-buttons {
      padding: 6px 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      button {
        cursor: pointer;
        padding: 6px;
        &.hidden {
          display: none;
        }
      }
    }
  }
}
