$blue-water: #1838b8;
$light-gray: #919191;
$harvest-green: #48a840;
$sign-brown: #c09050;
$font-gray: #333333;
$sky-blue: #89c4fe;
$sign-brown: #e68325;
$farmer-blue: #016ad5;
$cancel-red: #FF5C5C;

@mixin container-padding {
  padding: 12px;
}

@mixin anchor-buttons {
  position: fixed;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  background-size: 1rem;
  z-index: 40;
  @media only screen and (min-width: 900px) {
    display: none;
  }
}

@mixin overlaid-menu-shadow {
  -webkit-box-shadow: 0px 0px 10px 4px $light-gray;
  box-shadow: 0px 0px 10px 4px $light-gray;
}

@mixin button-shadow {
  -webkit-box-shadow: 0px 8px 6px -5px $light-gray;
  box-shadow: 0px 8px 6px -5px $light-gray;
}

@mixin button-style {
  cursor: pointer;
  padding: 8px;
  font-family: inherit;
  font-size: 0.75rem;
  color: white;
  border: none;
  border-radius: 6px;
  @include button-shadow;
}

@mixin darken-on-hover($color) {
  background-color: scale-color($color, $lightness: -40%);
  color: scale-color(white, $lightness: -5%);
}

html {
  font-family: "Chango", cursive;
  font-size: 22px;
}

body {
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
  color: $font-gray;
  background-color: $farmer-blue;
  background-image: url("../images/transparent-square-tiles.png");
}

#outer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.limited-container {
  max-width: 1200px;
}

#jump-to-weather-buttons {
  bottom: 2.5rem;
  background: $sign-brown url("../images/up-arrow.png") no-repeat center;
  @include anchor-buttons;
}

#next-crop-anchor {
  bottom: 0.25rem;
  background: $sign-brown url("../images/down-arrow.png") no-repeat center;
  @include anchor-buttons;
}

#calculator-body {
  text-align: center;
  @include container-padding;

  #weather-buttons-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    .weather-button {
      margin: 10px;
      img {
        cursor: pointer;
        border-radius: 8px;
        width: 25vw;
        max-width: 100px;
        -webkit-box-shadow: 0px 0px 3px 3px $sign-brown;
        box-shadow: 0px 0px 3px 3px $sign-brown;
        &:hover,
        &:focus {
          -webkit-box-shadow: 0px 0px 8px 3px $blue-water;
          box-shadow: 0px 0px 8px 3px $blue-water;
        }
      }
    }

    @media only screen and (min-width: 678px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  #weather-buttons-undo {
    @include button-style;
    margin-top: 22px;
    background-color: $sign-brown;
    &:hover {
      @include darken-on-hover($sign-brown);
    }
  }
}

#add-crops {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 75vw;
  width: 600px;
  background-color: $sign-brown;
  background-image: url("../images/nice-snow.png");
  z-index: 30;
  border-radius: 6px 0px 0px 6px;
  @include container-padding;
  @include overlaid-menu-shadow;
  transition: transform 0.25s ease-in;
  &.hidden {
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
  }
  label {
    margin-top: 10px;
  }
  #add-crops-reveal {
    position: absolute;
    top: 0;
    left: -1.75rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    cursor: pointer;
    background-color: $sign-brown;
    background-image: url("../images/nice-snow.png");
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: -4px 0px 4px 0px $light-gray;
    box-shadow: -4px 0px 4px 0px $light-gray;
  }
  .season-radio-buttons {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 678px) {
      flex-direction: row;
      justify-content: center;
      label {
        padding: 10px;
      }
    }
  }
  .select-crop-box {
    margin: 20px 0px;
    #new-crop-dropdown {
      appearance: none;
      @include button-style;
      color: white;
      // box-sizing: border-box;
      // display: inline-block;
      // background-color: $light-gray;
      border: 2px inset $sign-brown;
      box-shadow: none;
      background-color: scale-color($sign-brown, $lightness: 30%);
      background-image: url("../images/down-arrow.png");
      background-repeat: no-repeat;
      background-position: 95%;
      background-size: 0.75rem;
      min-width: 8rem;
    }
    [type="submit"] {
      @include button-style;
      background-color: $harvest-green;
      &:hover {
        @include darken-on-hover($harvest-green);
      }
    }
  }
  @media only screen and (min-width: 678px) {
    text-align: center;
  }
}

#current-crops {
  max-width: 1200px;
  display: grid;
  grid-gap: 10px;
  @include container-padding;
  @media only screen and (min-width: 678px) {
    grid-template-columns: repeat(2, 1fr);
    // justify-items: center;
  }
  @media only screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    // justify-items: center;
  }
  .growing-crop {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    position: relative;
    background-color: $sky-blue;
    border-radius: 6px;
    &::after {
      content: "";
      position: absolute;
      left: 20px; // match padding on .growing-crop
      bottom: 0;
      width: 50%; /* or 100px */
      border-bottom: 2px solid $blue-water;
      display: none; // hidden for now until we make this a watering bar
    }
    span {
      padding: 6px 20px;
    }
    .growing-overlay-crop {
      background-color: lightgrey;
      height: calc(100% - 40px);
      position: absolute;
      width: 100%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      margin-top: -20px;
      &.hidden {
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        left: 20px; // match padding on .growing-crop
        bottom: 0;
        width: 50%; /* or 100px */
        border-bottom: 2px solid $blue-water;
        display: none; // hidden for now until we make this a watering bar
      }
      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6px 20px;

        label {
          font-size: 0.75em;
        }
        input, select {
          box-sizing: border-box;
          font-family: "Chango", cursive;
          width: 100%;
        }
      }
    }
    .growing-crop-buttons, .crop-overlay-buttons {
      padding: 6px 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      button {
        @include button-style;
        &.hidden {
          display: none;
        }
        &.scythe-button {
          background-color: $cancel-red;
          &:hover {
            @include darken-on-hover($cancel-red);
          }
        }
        &.water-button {
          background-color: $blue-water;
          &:hover {
            @include darken-on-hover($blue-water);
          }
        }
        &.harvest-button {
          background-color: $harvest-green;
          &:hover {
            @include darken-on-hover($harvest-green);
          }
        }
        &.edit-button {
          background-color: $light-gray;
          position: absolute;
          top: 20px;
          right: 20px;
          &:hover {
            @include darken-on-hover($light-gray);
          }
        }
        &.save-button {
          background-color: $harvest-green;
          &:hover {
            @include darken-on-hover($harvest-green);
          }
        }
        &.cancel-button {
          background-color: $cancel-red;
          &:hover {
            @include darken-on-hover($cancel-red);
          }
        }
      }
    }
  }
}
